.v599_88 {
  width: 85px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 157px;
  left: 1068px;
  font-family: Inria Serif;
  font-weight: Bold;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v599_89 {
  width: 126px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 215px;
  left: 1077px;
  font-family: Inria Serif;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v599_90 {
  width: 73px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 212px;
  left: 1304px;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v599_91 {
  width: 85px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 267px;
  left: 1077px;
  font-family: Inria Serif;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v599_92 {
  width: 118px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 267px;
  left: 1259px;
  font-family: Inria Serif;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: right;
}
.v599_93 {
  width: 114px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 392px;
  left: 1068px;
  font-family: Inria Serif;
  font-weight: Regular;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v599_94 {
  width: 80px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 392px;
  left: 1284px;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v599_95 {
  width: 297px;
  height: 52px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 451px;
  left: 1074px;
  overflow: hidden;
}
.v599_96 {
  width: 297px;
  height: 52px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v599_97 {
  width: 297px;
  height: 52px;
  background: rgba(60, 193, 42, 0.7799999713897705);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v1215_2 {
  width: 96px;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 461px;
  left: 1174px;
  font-family: Inria Serif;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
